
.myButton {
  background-color: rgb(109, 109, 206);
}
.button.mat-menu-item {
  text-decoration: solid;
  background-color: rgb(102, 102, 223);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.counterIngr {
  letter-spacing: 0.005em;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 400px;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  background-color: rgb(3, 3, 20);
  color: wheat;
}
.imgSpoon {
  height: 300px;
  width: 400px;
}
.btn {
  color: rgb(185, 29, 29);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.txtArea {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background: 0 0;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
}

.fa {
  font-size: 16px;
  border: none;
  color: rgb(0, 183, 255);
 }
.flex-container {
  display: flex;
  flex-direction: row;
}
// .flex-child {
//   border: 2px solid rgb(0, 183, 255);
 
//   display: inline-block;
// }
// .flex-child:first-child {
//   margin-right: 20px;
// }
.recipeForm {
  width: 800px;
}
.img {
  margin-right: 30px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  float: left;
}
.menu {
  padding: 8px;
}
