.card {
  background-color: #ddbdf1;
  width: 400px;
  text-align: center;
  margin: 2%;
}
.address {
  margin: 1%;
}
.title {
  font-family: "Tangerine", serif;
  font-size: 200%;
  color: rgb(169, 45, 207);
}
