<mat-card class="card">
  <mat-card-title>
    <h1 class="title">Add New Recipe</h1>
  </mat-card-title>
  <mat-card-content *ngIf="!this.isSubmitted || (this.isSubmitted && !this.isSuccessful)">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <mat-label>Recipe Name</mat-label>
        <input type="text" matInput formControlName="recipeName">
      </mat-form-field>
      <br>
      <div
        *ngIf="recipeFormControl.recipeName.invalid && (recipeFormControl.recipeName.dirty ||recipeFormControl.recipeName.touched)">
        <mat-error *ngIf="recipeFormControl.recipeName.errors?.required">
          Recipe name is required.
        </mat-error>
        <mat-error *ngIf="recipeFormControl.recipeName.errors?.maxLength">
          Recipe name is too long.
        </mat-error>
      </div>

      <mat-form-field appearance="fill" width="100px">
        <mat-label>Description</mat-label>
        <textarea type="text" matInput formControlName="description"></textarea>
      </mat-form-field>
      <div
        *ngIf="recipeFormControl.description.invalid && (recipeFormControl.description.dirty ||recipeFormControl.description.touched)">
        <mat-error *ngIf="recipeFormControl.description.errors?.required">
          Description is required.
        </mat-error>
        <mat-error *ngIf="recipeFormControl.description.errors?.maxLength">
          Description is too long.
        </mat-error>
      </div>
      <br>
      <mat-form-field class="dirIngr" appearance="fill">
        <mat-label>Directions</mat-label>
        <textarea type="text" matInput formControlName="directions"></textarea>
      </mat-form-field>
      <div class="dirIngr"
        *ngIf="recipeFormControl.directions.invalid && (recipeFormControl.directions.dirty ||recipeFormControl.directions.touched)">
        <mat-error *ngIf="recipeFormControl.directions.errors?.required">
          Directions are required.
        </mat-error>
      </div>
      <br>
      <mat-form-field class="dirIngr" appearance="fill">
        <mat-label>Ingredients</mat-label>
        <textarea type="text" matInput formControlName="ingredients"></textarea>
      </mat-form-field>
      <div
        *ngIf="recipeFormControl.ingredients.invalid && (recipeFormControl.ingredients.dirty ||recipeFormControl.ingredients.touched)">
        <mat-error *ngIf="recipeFormControl.ingredients.errors?.required">
          Ingredients are required.
        </mat-error>

      </div>
      <br>
      <mat-label class="label">Difficulty</mat-label>
      <mat-slider formControlName="difficulty" (input)="difficulty = $event.value" [value]="difficulty" thumbLabel
        tickInterval="1" min="1" max="10"></mat-slider><br>

      <mat-form-field class="example-full-width" appearance="legacy">
        <input type="text" placeholder="Number of Servings" aria-label="Number" matInput
          formControlName="numberServings" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <br>


    <form class="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="time">
        <p>Preparation Time</p>
        <ngb-timepicker formControlName="prepTime" [(ngModel)]="prepTime"></ngb-timepicker>
      </div>
      <div class="time">
        <p>Cooking Time</p>
        <ngb-timepicker formControlName="cookTime" [(ngModel)]="cookTime"></ngb-timepicker>
      </div>
    </form>

    <form class="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <mat-label class="label">Image</mat-label>
        <input type="text" required matInput formControlName="imageUrl">
      </mat-form-field>
      <div
        *ngIf="recipeFormControl.imageUrl.invalid && (recipeFormControl.imageUrl.dirty || recipeFormControl.imageUrl.touched)">
        <mat-error *ngIf="recipeFormControl.imageUrl.errors?.pattern">
          Image URL should be valid (ex. http://example.com/image/path.jpeg).
        </mat-error>
        <mat-error *ngIf="recipeFormControl.imageUrl.errors?.pattern">
          Image URL is required.
        </mat-error>
      </div>

      <br>
      <button type="submit" [disabled]="!recipeForm.valid" mat-button color="primary">
        Add Recipe
      </button>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="this.isSuccessful && this.isSubmitted">
    <h2>Thank you for adding a recipe!</h2>
    <p>You can now go and explore more recipes!</p>
    <button type="button" mat-button color="primary" routerLink="/recipes">Explore Recipes</button>
  </mat-card-content>
</mat-card>
