<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<mat-card class="header">
    <mat-card-content>
        <span class="headerLinks" routerLink="/main-page">Home</span>
        <span class="headerLinks" routerLink="/account">Account</span>
        <span class="headerLinks" routerLink="/shop">Shop</span>
        <span class="headerLinks" routerLink="/shopping-cart">Shopping Cart</span>
        <span class="headerLinks" routerLink="/recipes">My Recipes</span>
        <span class="headerLinks" routerLink="/sign-in">Sign in</span>
        <span class="headerLinks" routerLink="/register">Sign-up</span>
    </mat-card-content>
</mat-card>
