.header {
  background-color: bisque;
  color: rgb(167, 105, 224);
  width: 95%;
  margin: 1%;
  text-align: center;
  display: inline-block;
}
.headerLinks {
  margin: 1%;
  font-family: "Tangerine", serif;
  font-size: 200%;
  font-weight: bold;
}