.header {
  background-color: #4ca8af;
  color: white;
  width: 95%;
  margin: 1%;
  text-align: center;
  display: inline-block;
}
.headerLinks {
  margin: 1%;
  font-family: "Tangerine", serif;
  font-size: 200%;
  cursor: pointer;
}
thead {
  color: #337AB7;
}
.img {
  width: 50px;
  margin: 2px;
}