.title {
  background-color: #4ca8af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin: 1%;
  font-family: "Tangerine", serif;
  font-size: 200%;
}

.img {
  width: 70px;
  height: 70px;  
  object-fit: contain;
  display: inline;
  
}

.card {
  width: 600px;
  margin: 2%;
  background-color: white;
}
.user {
  display: inline;
  
}
.userName {
  display: inline-block;
  margin: 5px;
}