.card {
  background-color: #ddbdf1;
  width: 600px;
  text-align: center;
  margin: 2%;
  height: 600px;
  overflow: auto;
  display: inline-block;
  border: 1px solid black;
}
.title {
font-family: "Tangerine", serif;
font-size: 200%;
color: rgb(169, 45, 207);
}
.newRecipeForm {
  width: 300px;
}
.time {
  width: 100;
}
.menuButton {
  display: block;
  
}
.card1 {
  display: inline-block;
  width: 30%;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;
}
.listIngredients {
  display: flex;
}
  
// .myButton {
//     background-color: rgb(109, 109, 206);
//   }
//   .button.mat-menu-item {
//     text-decoration: solid;
//     background-color: rgb(102, 102, 223);
//   }
//   .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
//   .imgSpoon {
//     height: 300px;
//     width: 400px;
//   }
//   .txtArea {
//     font-size: 14px;
//     box-sizing: border-box;
//     border: none;
//     box-shadow: none;
//     outline: 0;
//     background: 0 0;
//     width: 100%;
//     padding: 0 15px;
//     line-height: 40px;
//     height: 40px;
//   }
  
//   .fa {
//     font-size: 16px;
//     border: none;
//     color: rgb(0, 183, 255);
//    }
//   .flex-container {
//     display: flex;
//     flex-direction: row;
//   }
//   // .flex-child {
//   //   border: 2px solid rgb(0, 183, 255);
   
//   //   display: inline-block;
//   // }
//   // .flex-child:first-child {
//   //   margin-right: 20px;
//   // }
  .recipeForm {
    width: 800px;
  }
  .img {
    margin-right: 30px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    float: left;
  }
  .menu {
    padding: 8px;
  }
  
.example-header-image {
  background-image: url("/assets/spoon.jpg");
  background-size: cover;
}
  