<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<mat-card class="card">
  <mat-card-title>
    <h1 class="title">Recipes</h1>
  </mat-card-title>
  <mat-card-content>
    <div>
      <ul class="listRecipes">
        <li class="recipes" *ngFor="let recipe of recipes">
        
          <h3 class="recipeTitle">{{ recipe.recipeName }}</h3>
          <img class='img' [src]='recipe.imageUrl' [title]='recipe.recipeName'>

          <div class="container">
            <div class="center">
              <button class="button"
                routerLink="/recipe/{{recipe._id}}">
                View recipe</button>


              <button class="button"
                (click)="deleteRecipe(recipe._id)" *ngIf="this.AuthService.currentUserId === recipe.user_id || this.AuthService.hasPrivilege([this.adminRole])">
                Delete
              </button>
              <a *ngIf="!(this.AuthService.currentUserId === recipe.user_id) || this.AuthService.hasPrivilege([this.adminRole])"
              [routerLink]="['/comment/add']" [state]="{ recipe_id: recipe._id, user_id: recipe.user_id}">
                Comment
            </a> 
             </div>
          </div>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

