<mat-card class="card">
    <mat-card-title>
        <h1 class="title">Recommended</h1>
    </mat-card-title>
    <mat-card-content>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Chocolate Daffodils</mat-card-title>
                <mat-card-subtitle>Spring flowers you can make at home</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/chocolate_daffodils.jpg" class="img">
            <mat-card-content>
                <p class="history">
                    My obsession with chocolate flowers continues! It’s been so much fun for me to continue working with
                    this medium, coming up with new and beautiful designs that are also completely delicious.
                    These flowers are absolutely perfect for Easter and spring celebrations, where candy is already part
                    of the party!
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p class="btn btn--outline btn-square uppercase">
                    Order now</p>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Rainbow mosaic cake</mat-card-title>
                <mat-card-subtitle>Rainbow</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/rainbow-cake.jpg" class="img">
            <mat-card-content>
                <p  class="history">
                    In my humble opinion, Easter is the BEST time of year for candy. Not only is it tastier than ever
                    (hello, Cadbury Mini Eggs!),
                    but the pastel colors have me all starry-eyed and inspired! As I was recently browsing the Easter
                    candy aisle,
                    I couldn’t help but get all hung up on the seasonal color palette that M&Ms have got going on.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p class="btn btn--outline btn-square uppercase">
                    Order now</p>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Boston Cream Pie</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/boston-pie.jpg" class="img">
            <mat-card-content>
                <p  class="history">
                    Our take on the classic American dessert! Yellow Butter Cake layered with Vanilla
                    Bean Pastry Cream and finished in a Dark Chocolate Glaze.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p class="btn btn--outline btn-square uppercase">
                    Order now</p>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Galette de Rois</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/galette-de-rois.jpg" class="img">
            <mat-card-content>
                <p  class="history">
                    Celebrate Three Kings Day with a Galette de Rois!
                    Our traditional French King Cake is made with flaky puff pastry filled with creamy almond
                    frangipane.
                    The person who finds the fève hidden inside is crowned royalty for the day!
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p class="btn btn--outline btn-square uppercase">
                    Order now</p>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>King Cake</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/king-cake.jpg" class="img">
            <mat-card-content>
                <p  class="history">
                    Celebrate carnival season with a New Orleans-style King's Cake.
                    The person who gets the baby is rewarded with good fortune and has to keep the party going by
                    bringing the next cake for the group!
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p class="btn btn--outline btn-square uppercase">
                    Order now</p>
            </mat-card-actions>
        </mat-card>

    </mat-card-content>
</mat-card>

<mat-card class="card">

    <mat-card-title>
        <h1 class="title">History</h1>
    </mat-card-title>
    
    <img mat-card-image src="assets/baking-history.jpg" class="img">
    <mat-card-content>
        <p class="history">Filippo and Nina Bongiorno emigrated with their two children from Palermo, Sicily to Detroit, Michigan in 1953. Two years later their 3rd child, Aggie, was born. The Bongiornos worked long hours for other businesses before they finally fulfilled their dream and opened a family-owned bakery in 1977. Using their family recipes past down through the generations, the Bongiorno Bakery was an immediate success! This is when Aggie’s life long passion began for crafting delicious cakes and pastries made from scratch. Today, 37 years later, Aggie’s passion is stronger than ever for crafting the same incredible baked goods that her family has been known for since 1977.

        Aggie’s Bakery & Cake Shop is now under their 3rd generation of family ownership and her son Adam and daughter Ashley are actively involved in the business. Aggie is also surrounded by a growing staff of great people who share her vision for creating the finest quality baked goods. Aggie and her family are enjoying their craft more than ever and look forward to serving you fresh and delicious cakes and pastries in the near future.

        We look forward to seeing you at the bakery!</p>

    </mat-card-content>

</mat-card>

<mat-card class="card">
    <mat-card-title>
        <h1 class="title">Aims</h1>
        <mat-card-content>
            <p class="history">We use only the highest quality ingredients, recipes and baking practices resulting in exceptionally delicious and moist cakes!
                Pastry Shop has been baking and creating masterpiece cakes for almost 40 years – passion and baking expertise are endless!
                Nobody cares more about creating a beautiful and delicious wedding cake for you than the team at the Pastry shop – This is our passion and our main priority!</p>
        </mat-card-content>
    </mat-card-title>
</mat-card>