.alignCards {
  display: flex;
  width: 95%;
  margin: 2%;
}

.alignExample {
  display: flex;
  width: 96%;
  margin: 2%;
}

.title {
  font-family: "Tangerine", serif;
  font-size: 200%;
  color: white;
}

.card {
  background-color: #57bfc7;
  text-align: center;
  margin: 2%;
  color: white;
  width: 20%;
  border-radius: 4%;
}

.cardRecc {
  background-color: #57bfc7;
  display: inline-block;
  text-align: center;
  margin: 2%;
  color: white;
  width: 50%;
  border-radius: 4%;
}

.cardHistory {
  background-color: #57bfc7;
  display: inline-block;
  text-align: center;
  margin: 2%;
  color: white;
  width: 28%;
  border-radius: 4%;
}

.example-header-image {
  background-image: url("https://www.laroutedesgourmets.fr/597-large_default/chocolate-and-pastry-tour-paris.jpg");
  background-size: cover;
}

.example {
  width: 46%;
  display: inline-block;
  margin: 2%;
}

.imgHistory {
  border-radius: 1%;
  padding: 4%;
}

.img {
  height: 150px;
  width: 100px;
  margin: 1%;
}

.button {
  background-color: #4ca8af;
  color: white;
  padding: 8px 10px;
  margin: 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Tangerine", serif;
  font-size: 200%;

}

.a {
  color: #7b7256;
  text-decoration: underline;
  background: transparent;
}
