 <div class="alignCards">

   <mat-card class="cardHistory">
     <mat-card-title>
       <h1 class="title">History</h1>
     </mat-card-title>
     <img mat-card-image src="assets/baking-history.jpg" class="imgHistory">
     <mat-card-content>
       <p>Filippo and Nina Bongiorno emigrated with their two children from Palermo, Sicily to Detroit, Michigan in
         1953. Two years later their 3rd child, Aggie, was born.
         The Bongiornos worked long hours for other businesses before they finally fulfilled their dream and opened a
         family-owned bakery
         in 1977. Using their family recipes past down through the generations, the Bongiorno Bakery was an immediate
         success!
         This is when Aggie’s life long passion began for crafting delicious cakes and pastries made from scratch.
         Today, 37 years later, Aggie’s passion is stronger than ever for crafting the same incredible baked goods
         that her family has been known for since 1977. We look forward to seeing you at the bakery!</p>
     </mat-card-content>
   </mat-card>


   <mat-card class="cardRecc">
     <mat-card-title>
       <h1 class="title">Recommended</h1>
     </mat-card-title>
     <mat-card-content>
       <div class="alignExample">
         <mat-card class="example">
           <mat-card-header>
             <mat-card-title>Chocolate Daffodils</mat-card-title>
             <mat-card-subtitle>Spring flowers you can make at home</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image src="assets/chocolate_daffodils.jpg" class="img">
           <mat-card-content>
             <p>
               My obsession with chocolate flowers continues! It’s been so much fun for me to continue working with
               this medium, coming up with new and beautiful designs that are also completely delicious.
               These flowers are absolutely perfect for Easter and spring celebrations, where candy is already part
               of the party!
             </p>
           </mat-card-content>
           <button routerLink="/shop" class="button" type="submit">
             Order Now
           </button>
           <mat-card-actions>

           </mat-card-actions>
         </mat-card>
         <mat-card class="example">
           <mat-card-header>
             
             <mat-card-title>Rainbow mosaic cake</mat-card-title>
             <mat-card-subtitle>Rainbow</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image src="assets/rainbow-cake.jpg" class="img">
           <mat-card-content>
             <p>
               In my humble opinion, Easter is the BEST time of year for candy. Not only is it tastier than ever
               (hello, Cadbury Mini Eggs!),
               but the pastel colors have me all starry-eyed and inspired! As I was recently browsing the Easter
               candy aisle,
               I couldn’t help but get all hung up on the seasonal color palette that M&Ms have got going on.
             </p>
           </mat-card-content>
           <button routerLink="/shop" class="button" type="submit">
             Order Now
           </button>
         </mat-card>
       </div>
     </mat-card-content>
   </mat-card>
   <mat-card class="card">
     <mat-card-title>
       <h1 class="title">Aims</h1>
       <mat-card-content>
         <p>We use only the highest quality ingredients, recipes and baking practices resulting in exceptionally
           delicious and moist cakes!
           Pastry Shop has been baking and creating masterpiece cakes for almost 40 years – passion and baking expertise
           are endless!
         </p>
         <img mat-card-image src="assets/aim.jpg" class="imgHistory">
       </mat-card-content>
     </mat-card-title>
   </mat-card>
 </div>
