.card {
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 1%;
    background-color: #fdf5dc;
}
.subtitle {
    text-transform: uppercase;
    text-align: center;
}
.homepage-content{
    text-align: center;
}
.wrapper {
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box 
}
img {
    width: 100%;
}
.uppercase {
    font-size: 12.32px;
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.image {
    background-image: url("/assets/productsHeader.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image .content-centered {
    background-color: rgba(255,255,255, 0.6);
    padding: 0px 15px;
}
.image h2 {
    font-size: 1.2rem;
}
.footer {
    background-color: #ddd898;
    width: 70%;
    border: 3px solid rgb(80, 67, 8);
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
.btn--clear:hover, .btn--clear:focus, .btn--clear:active {
    color: #7b7256;
    background-color: rgba(199,180,120,0.3);
}
.btn--square {
    border-radius: 0px !important;
}
.btn--clear {
    background-color: transparent;
    color: #7b7256;
    border: 1px solid #7b7256;
}
.btn {
    display: inline-block;
    padding: 8px 10px;
    margin: 0;
    line-height: 1.42;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #7b7256;
    color: #fff;
}
.btn--outline {
    
    border: 1px solid #2e3438;
    box-shadow: 0 0 0 8px #FFFFFF;
    color: #2e3438;
    margin: 8px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 5px;
    height: 3px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:rgb(80, 67, 8);
}
.picture-content {
    text-align: center;
}
.picture img {
    max-height: 400px;
    object-fit: contain;
}
.picture .imgHolder {
    text-align: center;
}
h3 {
    text-transform: uppercase;
}


.workTime{
    text-transform: uppercase;
    font-weight: bold;
    
  }

@media screen and (min-width: 768px) and (max-width: 979px) {
    .picture, .events {
        margin: 7.5%;
   }
    .picture img {
        max-height: 500px;
   }
}
@media screen and (min-width: 980px) {
    .picture-content{
        display: block;
        padding: 0 15px;
   }
    .picture {
        display: inline-block;
        width: 49%;
   }
}
@media screen and (min-width: 1300px){
    .picture{
        display: inline-block;
        width: 33%;
        vertical-align: top;
   }
}
