<div class="image">
  <div class="content-centered">
    <h2>Products</h2>
  </div>
</div>

<div class="wrapper">
  <h3 class="subtitle">Sweet Delights Pastry Shop - Classic Desserts & Custom Cakes</h3>
  <div class="homepage-content">
    <p>Bring home somtehing wonderful!</p>
  </div>
</div>

<div class="products">
  <div class="picture">
    <ul class="items">
      <li *ngFor="let product of products">

        <h3 class="productTitle">{{ product.productName }}</h3>
        <h4>Price: {{ product.price | currency: 'EUR':true: '1.2-2' }}</h4>
        
          <img class='img' [src]='product.imageUrl' [title]='product.productName'>
        <button *ngIf="this.AuthService.isLoggedIn()" class="button" type="submit" (click)="add(product)" (click)="openSnackBar(product)">
          Order Now
        </button>
        <!-- <a  [routerLink]="['/order/add']" [state]="{ order_id: order._id, user_id: order.user_id}">
          Checkout
        </a>  -->
      </li>

    </ul>
  </div>

</div>
